.body
  .message-bar
    %span.a チャットグループが作成されました。
  .side-bar
    .header-left
      %span.ba seo
      %span.bb
        =fa_icon"cog"
      %span.bc
        =fa_icon"edit"
    .groups
      .group
        %span.c sample
        %span.d good by world
  .chat
    .header-light
      .left-header-light
        %span.e sample グループ
        %span.f member: seo
      .right-header-light
        %span.g Edit
    .messages
      .message
        %span.h seo
        %span.i 2016/10/02 06:27:00
        %span.j おはよう
        %span.k Yuta
        %span.l 2016/10/02 06:28:10
        %span.m おはよう
    .form
      .form-left
        %span.na type a messeage
        %span.nb
          =fa_icon"picture-o"
      .form-light
        %span.o send






